html {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    background-color: #d1eef7;
    font-family: sans-serif;
    color: #333;
}

#title {
    text-align: center;
    font-size: 3em;
    margin: 20px 0 10px 0;
}

#sub {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 1.1em;
    margin: 20px 0 10px 0;
}


img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    text-align: center;
}

figure {
    background-color: #f9fafa;
    padding: 30px;
    border-radius: 5px;
    text-align: center;
}

div .fig-div {
    padding: 0px;
}


section h3 {
    text-align: center;
    font-size: 2.3rem;
    margin: 25px 0 40px 0;
}

section .section {
    margin: 20px 0;
    text-align: center;
}

div .list-container {
    width: 50%;
}

ul {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px 0;
}

ul li {
    margin-top: 20px;
    text-align: justify;
    font-size: 1.1em;
}

li:first-child,
li:nth-child(5) {
    list-style: none;
    font-weight: bold;
    text-align: center;
    font-size: 1.3em;
    margin-bottom: 30px;
}

blockquote {
    max-width: 900px;
    margin: 50px auto;
    text-align: justify;
    font-style: italic;
    font-size: 1.5em;
}

.cite {
    display: inline-block;
    margin: 15px 0 0 40px;
    font-size: .8em;
}

p .more-info {
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 40px;
}

